<!DOCTYPE html>

<html lang="fr-FR" data-scroll="0">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="/assets/main.min.css">

    <link rel="stylesheet" class="lazy-css" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous" defer>

    <link rel="icon" href="/assets/images/favicon.png" />

    {% assign the_title = page.title %}
    {% assign the_descr = page.description %}

    <meta name="description" content="{{ the_descr | default: site.description }}">

    <title>{{ the_title | default: site.title }}  | {{ site.name }}</title>

    {% if page.canonical %}
      <link rel="canonical" href="{{ site.production_url }}{{ page.canonical}}" />
    {% else %}
      <link rel="canonical" href="{{ site.production_url }}{{ site.baseurl }}{{ page.url | replace:'index.html',''}}" />
    {% endif %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" defer></script>
    <script type="text/javascript" src="/assets/js/jquery.lazy.min.js" defer></script>
    <script type="text/javascript" src="/assets/js/main.js" defer></script>
    <script type="text/javascript" src="/assets/js/bootstrap.bundle.min.js" defer></script>

    {% assign full_image = site.baseurl | append: page.image %}
    {% if page.image %}
      {% assign full_image = site.production_url | append: page.image %}
    {% else %}
      {% assign full_image = site.logo %}
    {% endif %}

    <meta property="og:title" content="{{ the_title | default: site.title }} | Weyb" />
    <meta property="og:description" content="{{ the_descr | default: site.description }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ site.production_url }}{{ site.baseurl }}{{ page.url | replace:'index.html',''}}" />
    <meta property="og:image" content="{{ full_image }}" />
    <meta property="og:site_name" content="Weyb" />

  </head>

  <body id="page" class="fixed-menu">

    {% include navbar.html %}

    {{ content }}

    {% include footer.html %}

  </body>
</html>