---
layout: default
---
{% include header.html %}

<div class="container-fluid full-page d-flex flex-column justify-content-center align-items-center" id="more">

  <div class="pt-5"></div>

  <div class="row text-center d-flex justify-content-evenly pt-5" style="width: 90%;">
    <div class="col" style="padding-top: 30rem;">
      <!-- Colonne à gauche -->
      <div class="item">
        <i class="icon"></i>
        <h5>Sous-titre</h5>
      </div>
    </div>
    <div class="col" style="padding-bottom: 30rem;">
      <!-- Colonne entre celle de gauche et celle du centre -->
      <div class="item">
        <i class="icon"></i>
        <h5>Sous-titre</h5>
      </div>
    </div>
    <div class="col" style="padding-top: 30rem;">
      <!-- Colonne au centre -->
      <div class="item">
        <i class="icon"></i>
        <h5>Sous-titre</h5>
      </div>
    </div>
    <div class="col" style="padding-bottom: 30rem;">
      <!-- Colonne entre celle du centre et celle de droite -->
      <div class="item">
        <i class="icon"></i>
        <h5>Sous-titre</h5>
      </div>
    </div>
    <div class="col" style="padding-top: 30rem;">
      <!-- Colonne à droite -->
      <div class="item">
        <i class="icon"></i>
        <h5>Sous-titre</h5>
      </div>
    </div>
  </div>
</div>



