---
layout: default
---
{% include page-header.html %}

<div class="container">
  <div class="row">
    <div class="col">
      <div class="box">
        <i class="icon"></i>
        <h3 class="title">Titre 1</h3>
        <p class="description">Description 1</p>
      </div>
    </div>
    <div class="col">
      <div class="box">
        <i class="icon"></i>
        <h3 class="title">Titre 2</h3>
        <p class="description">Description 2</p>
      </div>
    </div>
    <div class="col">
      <div class="box">
        <i class="icon"></i>
        <h3 class="title">Titre 3</h3>
        <p class="description">Description 3</p>
      </div>
    </div>
  </div>
</div>
