#page {
  header.big-header {
    align-items: center;
    background-attachment: scroll;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    height: 100vh;
    justify-content: center;
    padding: 80px 0;
    text-align: center;
    width: 100%;
  }
}