@media (min-width: 992px) {
  #topBar {
    background-color: #212529;
    padding-bottom: 0;
    padding-top: 0;
  }

  html[data-scroll='0'] #topBar {
    background-color: transparent;
    border: none;
    padding-bottom: 25px;
    padding-top: 25px;
    transition: padding-top 0.3s, padding-bottom 0.3s;
  }

  #topBar .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
  }
}
